body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
.tblresult
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #E6E6E6
  
  
.tblresult tr td
  border: 0.1em solid black
  padding: 10px 10px 10px 10px 
  
div.body
	width: 600px
	height: 600px
	
	
div.link
	width: 200px
	height: 200px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-color: #E6E6E6
	float: left
	margin: 30px
	text-align: center
	
	
div.link a
	position: relative
	top:45%
	font-weight: bold
	font-size: 23px
	text-decoration: none

div.loading
	left: 50%
	top: 40%
	position: absolute
	display: none
	width: 30px
	height: 30px
	background-image: url("../images/25.gif")
	background-repeat: no-repeat


  