body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
.tblresult
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #E6E6E6
  
  
.tblresult tr td
  border: 0.1em solid black
  padding: 10px 10px 10px 10px 
  